flask
psycopg2
python-dotenv
gunicorn
plotly
pandas
matplotlib
click
itsdangerous
Jinja2
MarkupSafe
numpy
patsy
plotly-express
python-dateutil
pytz
retrying
scipy
six
statsmodels
Werkzeug